{% extends 'main_app/base.html' %}

{% load static %}

{% block content %}

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			
			<!-- Default Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="text-blue h4">Введите наименование проекта</h4>
						<p class="mb-30">Наименование проекта должно быть уникально</p>
					</div>
					<div class="pull-right">
						
					</div>
				</div>
				<form method="POST" action="{% url 'show-project-new-page' %}">
					{% csrf_token %}
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Наименование</label>
						<div class="col-sm-12 col-md-10">
							<input class="form-control" type="text" placeholder="Новый проект"/>
						</div>
					</div>
					<div class="btn-list">						
						<button class="btn btn-secondary" type="submit">Сохранить</button>						
					</div>
				</form>
				
			</div>
			<!-- Default Basic Forms End -->


			
		</div>
		<div class="footer-wrap pd-20 mb-20 card-box">
			DeskApp - Bootstrap 4 Admin Template By
			<a href="https://github.com/dropways" target="_blank"
				>Ankit Hingarajiya</a
			>
		</div>
	</div>
</div>

{% endblock %}