{% extends 'main_app/base.html' %}

{% load static %}

{% block content %}

<div class="title pb-20">
	<h2 class="h3 mb-0">Грузы</h2>
</div>
<div class="card-box pb-10">
	<div class="h5 pd-20 mb-0">{{ project.name }}</div>
	<table class="data-table table nowrap">
		<thead>
			<tr>
				<th class="table-plus">Идентификатор груза</th>
				<th>Создан</th>
				<th>Изменен</th>				
				<th class="datatable-nosort">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				<td class="table-plus">
					<div class="name-avatar d-flex align-items-center">
						<div class="avatar mr-2 flex-shrink-0">
							<img
								src="{% static 'vendors/images/photo4.jpg' %}"
								class="border-radius-100 shadow"
								width="40"
								height="40"
								alt=""
							/>
						</div>
						<div class="txt">
							<div class="weight-600">{{ item.name }}</div>
						</div>
					</div>
				</td>
				<td>{{ item.created_at }}</td>
				<td>{{ item.updated_at }}</td>				
				<td>
					<div class="table-actions">
						<a href="{% url 'warehouse_app:show-cargo-edit-page' item_id=item.id %}" data-color="#265ed7"
							><i class="icon-copy dw dw-edit2"></i
						></a>
						<a href="#" data-color="#e95959"
							><i class="icon-copy dw dw-delete-3"></i
						></a>
					</div>
				</td>
			</tr>
			{% endfor %}																					
		</tbody>
	</table>
</div>

{% endblock %}