{% extends 'main_app/base.html' %}

{% load static %}

{% block content %}

<div class="title pb-20">
	<h2 class="h3 mb-0">Место хранения</h2>
</div>

<!-- Default Basic Forms Start -->
<div class="pd-20 card-box mb-30">
	<div class="clearfix">
		<div class="pull-left">
			<h4 class="text-blue h4">Default Basic Forms</h4>
			<p class="mb-30">All bootstrap element classies</p>
		</div>		
	</div>
	<form action="{% url 'warehouse_app:show-warehouse-edit-page' item_id=item.id %}" method="POST">
		{% csrf_token %}
		{% for field in form.visible_fields  %}
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label">{{ field.label }}</label>
			<div class="col-sm-12 col-md-10">
				<input
					class="form-control"
					type="text"
					placeholder="{{ field.label }}"
					name="{{ field.name }}"
					value="{{ field.value }}"
				/>
			</div>			
		</div>		
		{% endfor %}
		<div class="btn-list">
			<button type="submit" class="btn btn-primary" >save</button>
		</div>
	</form>
</div>

{% endblock %}